<h1>Rubetek#test</h1>
<p>Flat relations management</p>
<%= link_to "Список квартир", flats_path %><br>
<%= link_to "Список показаний", counters_path %><br>
<h2>Отчеты</h2>
<hr>
<%= link_to "Отчет по последним показаниям счетчиков", last_counters_path %><br>
<%= link_to "Отчет по жителям, которые не внесли показания счетчика", debtor_list_path %><br>